* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color: #333;
    background: #fff;
  }
  
  .navbar {
    height: 80px;
    margin-top: 24px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 9px;
    border: 1px solid #D7E1FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f5f8ff;
    
  }
  
  
  .logo {
    padding-left: 21.02px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
  }
  
  
  .reseller {
    display: inline-block;
    background: #3239FF;
    padding: 5px 8px ;
    margin-bottom: 3px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 15.92px;
    line-height: 100%;
    letter-spacing: 0%;
    border-radius: 4px;
    font-size: 15.92px;
  }
  .nav{
    display: flex;
    padding-right: 15px;
    gap: 25px;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
    font-weight: 400;
  font-size: 16px;
  }
  .home{
    font-weight: 700;
  }
  
  a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }
  
  .highlight {
    color: #3239FF;
    font-weight: 600;
    font-size: 16px;
    
  }
  
  .contact-btn {
    background: #3239FF;
    color: white;
    padding: 15px 39px;
    height: 48px;
    width: 140px;
    border-radius: 8px;
    font-weight: bold;
  }
  
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 60px;
  }
  
  .hero-text {
    margin-top: 50px;
    flex: 1;
  }
  
  .hero-text h1 {
    font-family: 'Be Vietnam Pro', sans-serif;
    width: 674px;
    font-weight: 700;
    font-size: 43px;
    line-height: 125%;      
    letter-spacing: 0; 
    margin-bottom: 20px;
  }
  
  .hero-text .highlight-text {
    
    color: #3239FF;
  }
  
  .hero-text p {
    width: 659px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 35px;
    margin-bottom: 60px;
    font-size: 18px;
    color: #444;
  }
  
  .cta-buttons {
    display: flex;
    gap: 46px;
    flex-wrap: wrap;
  }
  
  .btn-primary {
    position: relative; 
    width: 258px;
    height: 48px;
    font-weight: 700;
    background: #3239FF;
    color: white;
    padding-top: 11px;
    padding-bottom: 14px;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible; 
  }
  
  .btn-primary svg {
    position: relative;
    top: 4px;
    margin-left: 34px;
    margin-right: 17px;
  }
  
  .btn-primary::before,
  .btn-primary::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border: 3px solid #3239FF;
    border-radius: 0 5px 0 5px;
    pointer-events: none;
  }
  
  .btn-primary::before {
    bottom: -10px;
    left: -10px;
    border-top: none;
    border-right: none;
  }
  
  .btn-primary::after {
    top: -8px;
    right: -10px;
    border-bottom: none;
    border-left: none;
  }
  
  
  .btn-secondary {
    width: 180px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 9px;
    text-decoration: none;
    font-weight: 400;
    color: #000;
  }
  .btn-secondary svg{
    margin-right: 10px;
  }

  
  .hero-image {
    flex: 1;
    text-align: center;
  }
  
  .hero-image svg {
    position: relative;
    top:67px;
    
  }


  